@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* Dark 02 */
.text-gray{
    color: #424242;
}

/* Dark 03 */

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.text-primary{
    color: #ff900e;
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
    padding: 0 20px;
}

.section-title{
    font-size: 2.8rem;
}

/* header items */


/* nav items */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;   
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

/* banner related styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}

/* Team and feature related styles */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

.feature-description{
    line-height: 26px;          

}

/* facts related styles */


.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact-card{
    border:1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-name{
    color: #727272;
    font-weight: 600;
    font-size: 1.25rem;
      margin-top: 5px;
    margin-bottom: 10px;
}

.fact-number{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
      margin-top: 5px;
    margin-bottom: 10px;
}

.fact-description{
    font-size: 1rem;
    line-height: 26px;
    max-width: 540px;
}

/* sponsor related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.sponsor-companies img{
    filter: grayscale(100%); 
}

/* responsive media query */

@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-img-container ,
     .fact-container,
     .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 20px;
    }
    .fact-container{
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .fact-card{
        width: 100%;
    }

    .sponsor-companies{
        gap: 40px;
        justify-items: center;
        align-items: center;
    }
}

/* medium device media query */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}